.full-screen {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-width-input {
  width: 100%;
}

.card-flush {
  max-width: 600px; /* Limita el ancho máximo del card */
}

.position-relative {
  position: relative;
}

.top-50 {
  top: 50%;
}
